@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    .space {
        @apply flex justify-between items-center;
    }

    .center {
        @apply flex justify-center items-center;
    }
    .hover-prop {
        @apply transition-all ease-in hover:ease-out delay-100 duration-200
    }
}
.hide-scroll{
    --ms-overflow-style: none;
    scrollbar-width: none;
}
.in-view {
    pointer-events: auto;
  }

.creator-height {
    @apply h-[250px];
}

@media (min-width: 520px) {
    .creator-height {
        @apply h-[230px];
    }
}

@media (min-width: 573px) {
    .creator-height {
        @apply h-[170px];
    }
}

@media (min-width: 736px) {
    .creator-height {
        @apply h-[110px];
    }
}

@media (min-width: 736px) {
    .creator-height {
        @apply h-[150px];
    }
}

@media (min-width: 771px) {
    .creator-height {
        @apply h-[220px];
    }
}

@media (min-width: 800px) {
    .creator-height {
        @apply h-[150px];
    }
}

.hide-scroll {
    --ms-overflow-style: none;
    scrollbar-width: none;
}
